{%extends "base.html" %}

{%block title%}vimeo-album-flask{%endblock title%}

{%block content%}
 <!-- NAV OVERLAY FOR VIDEO PLAYER -->
<div id="myNav" class="overlay">

	<!-- BUTTON TO CLOSE NAV OVERLAY -->
	<a href="javascript:void(0)" class="closebtn">&times;</a>

	<!-- NAV OVERLAY-CONTENT DIVS -->
	<div class="d-flex justify-content-center overlay-content" id="Vimeo_Player">
	</div>
</div>

<!-- GALLERY GRID -->
<div id="section-gallery">
	<div class="container mt-4">
		  <div class="row row-cols-3">
		  	<!-- LOOP BEGINS WITH 3 COLUMNS PER ROW -->
		  	{% for result in main_result %}
		  	<div class="col-12 col-md-6 col-xl-4 video-btn" data-src="{{ result.link }}">
				<figure class="figure text-center">
					<!-- THUMBNAIL -->
					<img class="figure-img img-fluid" src="{{reel_thumbnail_list[loop.index0]}}" alt="Portfolio Item Heading">
					<!-- NAME OF VIDEO -->
					<div class="fw-bolder text-light title-text">
						<p>{{ result.name }}</p>
					</div>
				</figure>
			</div>
			{% endfor %}
		  </div>
	</div>
</div>
{%endblock content%}